USE [Drivers]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityID] [int] NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[HouseNumber] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[Number] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PostCode] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[LicenseNumber] [nvarchar](100) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Photo] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[JobInfoID] [int] NOT NULL,
	[MobilePhone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Photo] [image] NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataID] [int] NOT NULL,
	[Success] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobInfo]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobPlace] [nvarchar](100) NULL,
	[JobRole] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassportInfo]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassportInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Seria] [nvarchar](10) NOT NULL,
	[Number] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 29.01.2022 20:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NOT NULL,
	[PassportInfoID] [int] NOT NULL,
	[RegistrationAddressID] [int] NOT NULL,
	[LifeAddressID] [int] NOT NULL,
 CONSTRAINT [PK__Person__3214EC271F2910A2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([ID], [CityID], [Street], [HouseNumber]) VALUES (1, 1, N'Cobblestone', N' MD 20782')
INSERT [dbo].[Address] ([ID], [CityID], [Street], [HouseNumber]) VALUES (2, 2, N'ttsville, MD', N' MD 20782')
INSERT [dbo].[Address] ([ID], [CityID], [Street], [HouseNumber]) VALUES (3, 3, N'8 Philmont La', N' IL 60133')
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name], [PostCode]) VALUES (1, N'CobblestoneSt.', N'760832')
INSERT [dbo].[City] ([ID], [Name], [PostCode]) VALUES (2, N'Hyattsville', N'807042')
INSERT [dbo].[City] ([ID], [Name], [PostCode]) VALUES (3, N'PhilmontLane', N'83282')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([ID], [PersonID], [JobInfoID], [MobilePhone], [Email], [Photo], [Description]) VALUES (1, 1, 1, N'970 383/8933', N'skippy@icloud.com', NULL, NULL)
INSERT [dbo].[Driver] ([ID], [PersonID], [JobInfoID], [MobilePhone], [Email], [Photo], [Description]) VALUES (2, 2, 2, N'867 708/4447', N'isotopian@sbcglobal.net', NULL, NULL)
INSERT [dbo].[Driver] ([ID], [PersonID], [JobInfoID], [MobilePhone], [Email], [Photo], [Description]) VALUES (3, 3, 3, N'221 428/7850', N'isaacson@att.net', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[JobInfo] ON 

INSERT [dbo].[JobInfo] ([ID], [JobPlace], [JobRole]) VALUES (1, N'Global Gillette', N'Reporter')
INSERT [dbo].[JobInfo] ([ID], [JobPlace], [JobRole]) VALUES (2, N'Coca-Cola', N'Elementary School Teacher')
INSERT [dbo].[JobInfo] ([ID], [JobPlace], [JobRole]) VALUES (3, N'Harley-Davidson Motor Company', N'Childcare worker')
GO
SET IDENTITY_INSERT [dbo].[JobInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[PassportInfo] ON 

INSERT [dbo].[PassportInfo] ([ID], [Seria], [Number]) VALUES (1, N'2303', N'160716')
INSERT [dbo].[PassportInfo] ([ID], [Seria], [Number]) VALUES (2, N'5563', N'160745')
INSERT [dbo].[PassportInfo] ([ID], [Seria], [Number]) VALUES (3, N'3719', N'717453')
GO
SET IDENTITY_INSERT [dbo].[PassportInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([ID], [LastName], [Name], [MiddleName], [PassportInfoID], [RegistrationAddressID], [LifeAddressID]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', 1, 1, 1)
INSERT [dbo].[Person] ([ID], [LastName], [Name], [MiddleName], [PassportInfoID], [RegistrationAddressID], [LifeAddressID]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', 2, 2, 2)
INSERT [dbo].[Person] ([ID], [LastName], [Name], [MiddleName], [PassportInfoID], [RegistrationAddressID], [LifeAddressID]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', 3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[Data]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([ID])
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD FOREIGN KEY([JobInfoID])
REFERENCES [dbo].[JobInfo] ([ID])
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK__Driver__PersonID__31EC6D26] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK__Driver__PersonID__31EC6D26]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD FOREIGN KEY([DataID])
REFERENCES [dbo].[Data] ([ID])
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK__Person__LifeAddr__2D27B809] FOREIGN KEY([LifeAddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK__Person__LifeAddr__2D27B809]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK__Person__Passport__2B3F6F97] FOREIGN KEY([PassportInfoID])
REFERENCES [dbo].[PassportInfo] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK__Person__Passport__2B3F6F97]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK__Person__Registra__2C3393D0] FOREIGN KEY([RegistrationAddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK__Person__Registra__2C3393D0]
GO
