USE [Gibdd]
GO
/****** Object:  Table [dbo].[RegCode]    Script Date: 28.01.2022 18:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 28.01.2022 18:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EngName] [nvarchar](100) NOT NULL,
	[RusName] [nvarchar](100) NOT NULL,
	[SubjectCode] [int] NULL,
	[IsoCode] [nvarchar](15) NULL,
	[OkatoCode] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RegCode] ON 

INSERT [dbo].[RegCode] ([ID], [Code], [RegionID]) VALUES (1, 1, 1)
INSERT [dbo].[RegCode] ([ID], [Code], [RegionID]) VALUES (2, 4, 2)
INSERT [dbo].[RegCode] ([ID], [Code], [RegionID]) VALUES (3, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[RegCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([ID], [EngName], [RusName], [SubjectCode], [IsoCode], [OkatoCode]) VALUES (1, N'Republic of Adygea', N'Республика Адыгея', 1, N'79', N'RU-AD')
INSERT [dbo].[Region] ([ID], [EngName], [RusName], [SubjectCode], [IsoCode], [OkatoCode]) VALUES (2, N'Altai Republic', N'Республика Алтай', 4, N'84', N'RU-AL')
INSERT [dbo].[Region] ([ID], [EngName], [RusName], [SubjectCode], [IsoCode], [OkatoCode]) VALUES (3, N'Republic of Bashkortostan', N'Республика Башкортостан', 2, N'80', N'RU-BA')
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
ALTER TABLE [dbo].[RegCode]  WITH CHECK ADD FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([ID])
GO
